In [26]:
!pip install PyMySQL
!pip install dtale

Requirement already satisfied: PyMySQL in d:\home\anaconda3\lib\site-packages (1.0.2)
Collecting dtale
  Downloading dtale-2.2.0-py2.py3-none-any.whl (12.7 MB)
Requirement already satisfied: matplotlib in d:\home\anaconda3\lib\site-packages (from dtale) (3.4.3)
Requirement already satisfied: xlrd in d:\home\anaconda3\lib\site-packages (from dtale) (2.0.1)
Collecting dash>=2.0.0
  Downloading dash-2.3.1-py3-none-any.whl (9.6 MB)
Requirement already satisfied: pandas in d:\home\anaconda3\lib\site-packages (from dtale) (1.3.4)
Requirement already satisfied: requests in d:\home\anaconda3\lib\site-packages (from dtale) (2.26.0)
Requirement already satisfied: seaborn in d:\home\anaconda3\lib\site-packages (from dtale) (0.11.2)
Requirement already satisfied: numpy in d:\home\anaconda3\lib\site-packages (from dtale) (1.20.3)
Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: networkx in d:\home\anaconda3\lib\site-packages (from dtale) (2.6.3)
Requirement already satisfied: itsdangerous in d:\home\anaconda3\lib\site-packages (from dtale) (2.0.1)
Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-win_amd64.whl (65.9 MB)
Requirement already satisfied: future>=0.14.0 in d:\home\anaconda3\lib\site-packages (from dtale) (0.18.2)
Requirement already satisfied: Flask in d:\home\anaconda3\lib\site-packages (from dtale) (1.1.2)
Collecting dash-colorscales
  Downloading dash_colorscales-0.0.4.tar.gz (62 kB)
Collecting lz4
  Downloading lz4-4.0.0-cp39-cp39-win_amd64.whl (96 kB)
Requirement already satisfied: six in d:\home\anaconda3\lib\site-packages (from dtale) (1.16.0)
Collecting xarray
  Downloading xarray-2022.3.0-py3-none-any.whl (870 kB)
Collecting missingno<=0.4.2
  Downloading missingno-0.4.2-py3-none-any.whl (9.7 kB)
Collecting Flask-Compress
  Downloading Flask_Compress-1.12-py3-none-any.whl (7.9 kB)
Requirement already satisfied: openpyxl in d:\home\anaconda3\lib\site-packages (from dtale) (3.0.9)
Requirement already satisfied: cycler in d:\home\anaconda3\lib\site-packages (from dtale) (0.10.0)
Collecting ppscore
  Downloading ppscore-1.2.0.tar.gz (47 kB)
Requirement already satisfied: scikit-learn==0.24.2 in d:\home\anaconda3\lib\site-packages (from dtale) (0.24.2)
Requirement already satisfied: scipy in d:\home\anaconda3\lib\site-packages (from dtale) (1.7.1)
Collecting strsimpy
  Downloading strsimpy-0.2.1-py3-none-any.whl (45 kB)
Collecting dash-daq
  Downloading dash_daq-0.5.0.tar.gz (642 kB)
Collecting dash-bootstrap-components
  Downloading dash_bootstrap_components-1.1.0-py3-none-any.whl (210 kB)
Requirement already satisfied: et-xmlfile in d:\home\anaconda3\lib\site-packages (from dtale) (1.1.0)
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Collecting plotly>=5.0.0
  Downloading plotly-5.7.0-py2.py3-none-any.whl (28.8 MB)
Requirement already satisfied: statsmodels in d:\home\anaconda3\lib\site-packages (from dtale) (0.12.2)
Requirement already satisfied: joblib>=0.11 in d:\home\anaconda3\lib\site-packages (from scikit-learn==0.24.2->dtale) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\home\anaconda3\lib\site-packages (from scikit-learn==0.24.2->dtale) (2.2.0)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: click>=5.1 in d:\home\anaconda3\lib\site-packages (from Flask->dtale) (8.0.3)
Requirement already satisfied: Werkzeug>=0.15 in d:\home\anaconda3\lib\site-packages (from Flask->dtale) (2.0.2)
Requirement already satisfied: Jinja2>=2.10.1 in d:\home\anaconda3\lib\site-packages (from Flask->dtale) (2.11.3)
Requirement already satisfied: colorama in d:\home\anaconda3\lib\site-packages (from click>=5.1->Flask->dtale) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in d:\home\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask->dtale) (1.1.1)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Collecting brotli
  Downloading Brotli-1.0.9-cp39-cp39-win_amd64.whl (383 kB)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\home\anaconda3\lib\site-packages (from matplotlib->dtale) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in d:\home\anaconda3\lib\site-packages (from matplotlib->dtale) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in d:\home\anaconda3\lib\site-packages (from matplotlib->dtale) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\home\anaconda3\lib\site-packages (from matplotlib->dtale) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in d:\home\anaconda3\lib\site-packages (from pandas->dtale) (2021.3)
Requirement already satisfied: idna<4,>=2.5 in d:\home\anaconda3\lib\site-packages (from requests->dtale) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\home\anaconda3\lib\site-packages (from requests->dtale) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in d:\home\anaconda3\lib\site-packages (from requests->dtale) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\home\anaconda3\lib\site-packages (from requests->dtale) (2.0.4)
Requirement already satisfied: patsy>=0.5 in d:\home\anaconda3\lib\site-packages (from statsmodels->dtale) (0.5.2)
Requirement already satisfied: packaging>=20.0 in d:\home\anaconda3\lib\site-packages (from xarray->dtale) (21.0)
Building wheels for collected packages: dash-colorscales, dash-daq, ppscore
  Building wheel for dash-colorscales (setup.py): started
  Building wheel for dash-colorscales (setup.py): finished with status 'done'
  Created wheel for dash-colorscales: filename=dash_colorscales-0.0.4-py3-none-any.whl size=62589 sha256=a7325f37f0ccb988169ce41c9da9c40d38bb831bffee907f2dad7b0407a09970
  Stored in directory: c:\users\nacho\appdata\local\pip\cache\wheels\ec\32\ec\dc8a1aa820182edf280a5e26c76fc9493ae29e196735708de2
  Building wheel for dash-daq (setup.py): started
  Building wheel for dash-daq (setup.py): finished with status 'done'
  Created wheel for dash-daq: filename=dash_daq-0.5.0-py3-none-any.whl size=669716 sha256=029d101d9092d6cdcfaff95a8ea70e8d881d263f4e3a2d985613df9c5b0f7314
  Stored in directory: c:\users\nacho\appdata\local\pip\cache\wheels\53\73\ea\8a422aab5cab848d88653ed3087c1fa05553c3fbd67fb6ab75
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.2.0-py2.py3-none-any.whl size=13068 sha256=ba850d23d8650063f0dd2ee90b6cdef3b94ec5aa70dfb74ba7939a5061ba298a
  Stored in directory: c:\users\nacho\appdata\local\pip\cache\wheels\66\5f\af\a0de66f8359588661c0b1239580f4788dba33a4a1e504ef682
Successfully built dash-colorscales dash-daq ppscore
Installing collected packages: tenacity, brotli, plotly, Flask-Compress, dash-table, dash-html-components, dash-core-components, dash, xarray, strsimpy, squarify, ppscore, missingno, lz4, kaleido, flask-ngrok, dash-daq, dash-colorscales, dash-bootstrap-components, dtale
Successfully installed Flask-Compress-1.12 brotli-1.0.9 dash-2.3.1 dash-bootstrap-components-1.1.0 dash-colorscales-0.0.4 dash-core-components-2.0.0 dash-daq-0.5.0 dash-html-components-2.0.0 dash-table-5.0.0 dtale-2.2.0 flask-ngrok-0.0.25 kaleido-0.2.1 lz4-4.0.0 missingno-0.4.2 plotly-5.7.0 ppscore-1.2.0 squarify-0.4.3 strsimpy-0.2.1 tenacity-8.0.1 xarray-2022.3.0

In [2]:
import pymysql.cursors
import pandas as pd
import numpy as np

In [3]:
# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             database='TPP',
                             cursorclass=pymysql.cursors.DictCursor)

In [4]:
activities = pd.read_sql(("select b.activity_id,b.user_id,status,role_id,a.course_id as course_id from TPP.activities a "   
           "inner join TPP.activity_submissions b on a.id = b.activity_id "
           "inner join TPP.course_users d on b.user_id = d.user_id and a.course_id = d.course_id " 
           "limit 10000000;"), con=connection)
activities.head()
activities = activities[activities["course_id"]>5]
activities = activities[activities["role_id"]==2]
activities["dummy"]=1

In [5]:
activities_pivot = activities.pivot_table(index=['activity_id',"course_id",'user_id'], columns='status', aggfunc='count')["dummy"]
activities_pivot["dummy"]=1

In [6]:
activities_pivot = activities_pivot.reset_index()
activities_pivot[(activities_pivot['course_id'] == 33)]['user_id'].unique()

array([ 341,  395,  727, 1129, 1156, 1158, 1159, 1161, 1163, 1165, 1166,
       1168, 1169, 1170, 1173, 1176, 1178, 1181, 1182, 1183, 1184, 1185,
       1187, 1190, 1191, 1192, 1193, 1195, 1197, 1203, 1204, 1211, 1217,
       1222, 1226, 1231, 1210, 1188, 1172, 1160, 1162, 1207, 1283,  599,
       1282, 1199, 1164], dtype=int64)

In [7]:
activities_grouped = activities_pivot.reset_index().groupby(["course_id","user_id"]).count()

In [8]:
activities_grouped = activities_grouped.reset_index()
activities_grouped[(activities_grouped['course_id'] == 33)]

status,course_id,user_id,index,activity_id,BUILD_ERROR,ENQUEUED,FAILURE,PENDING,PROCESSING,RUNTIME_ERROR,SUCCESS,TIME_OUT,dummy
881,33,341,41,41,0,0,30,1,0,7,39,2,41
882,33,395,2,2,0,0,1,1,0,1,2,0,2
883,33,599,12,12,0,0,7,0,0,1,10,0,12
884,33,727,21,21,0,0,13,0,0,2,19,0,21
885,33,1129,8,8,0,0,7,0,0,1,8,0,8
886,33,1156,8,8,3,0,5,0,1,3,6,0,8
887,33,1158,5,5,0,0,1,0,0,3,3,0,5
888,33,1159,13,13,4,0,11,0,1,2,5,0,13
889,33,1160,5,5,0,0,0,0,0,0,5,0,5
890,33,1161,26,26,0,0,17,0,0,8,26,0,26
891,33,1162,5,5,2,0,3,0,0,0,4,0,5
892,33,1163,8,8,0,0,3,0,0,4,2,0,8
893,33,1164,2,2,1,0,1,0,0,0,0,0,2
894,33,1165,14,14,2,0,6,0,0,7,8,0,14
895,33,1166,27,27,0,0,12,0,0,5,26,0,27
896,33,1168,3,3,0,0,2,0,0,1,1,0,3
897,33,1169,19,19,2,0,12,1,0,9,11,0,19
898,33,1170,4,4,0,0,3,0,0,2,2,0,4
899,33,1172,2,2,0,0,1,0,0,2,0,0,2
900,33,1173,3,3,0,0,2,0,1,1,2,0,3
901,33,1176,48,48,4,0,29,1,0,16,43,0,48
902,33,1178,10,10,3,0,9,0,0,4,10,0,10
903,33,1181,20,20,5,0,12,0,0,6,17,0,20
904,33,1182,22,22,0,0,15,1,0,9,16,0,22
905,33,1183,7,7,0,0,6,0,0,5,7,1,7
906,33,1184,18,18,0,0,13,0,1,5,15,0,18
907,33,1185,13,13,0,0,8,0,0,3,12,0,13
908,33,1187,28,28,0,1,7,0,0,4,28,0,28
909,33,1188,2,2,0,0,2,0,0,1,1,0,2
910,33,1190,1,1,0,0,1,0,0,0,0,0,1
911,33,1191,67,67,0,0,24,0,0,4,61,0,67
912,33,1192,16,16,0,0,10,0,0,1,12,0,16
913,33,1193,3,3,0,0,1,1,0,0,2,0,3
914,33,1195,1,1,0,0,0,0,0,0,1,0,1
915,33,1197,3,3,0,0,2,0,0,2,3,0,3
916,33,1199,1,1,0,0,1,0,0,0,0,0,1
917,33,1203,3,3,0,0,2,0,0,2,2,0,3
918,33,1204,56,56,1,0,30,0,1,12,56,1,56
919,33,1207,4,4,2,0,4,0,0,0,1,0,4
920,33,1210,2,2,0,0,0,0,0,0,2,0,2
921,33,1211,2,2,0,0,1,0,0,1,2,0,2
922,33,1217,62,62,0,1,32,0,1,7,57,0,62
923,33,1222,2,2,0,0,1,0,0,2,1,0,2
924,33,1226,1,1,0,0,0,0,0,0,1,0,1
925,33,1231,23,23,0,0,13,0,0,6,19,0,23
926,33,1282,5,5,0,0,3,0,0,1,3,0,5
927,33,1283,6,6,1,0,5,0,0,1,1,0,6

In [9]:
activities_grouped

status,course_id,user_id,index,activity_id,BUILD_ERROR,ENQUEUED,FAILURE,PENDING,PROCESSING,RUNTIME_ERROR,SUCCESS,TIME_OUT,dummy
0,6,161,42,42,33,0,26,0,0,0,41,2,42
1,6,186,35,35,26,0,20,0,0,0,34,4,35
2,6,293,32,32,13,0,7,0,0,0,24,2,32
3,6,294,2,2,2,0,2,0,0,0,0,0,2
4,6,295,39,39,27,0,19,0,0,0,39,2,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,33,1226,1,1,0,0,0,0,0,0,1,0,1
925,33,1231,23,23,0,0,13,0,0,6,19,0,23
926,33,1282,5,5,0,0,3,0,0,1,3,0,5
927,33,1283,6,6,1,0,5,0,0,1,1,0,6
928,35,1418,1,1,0,0,1,0,0,0,1,0,1

In [10]:
courses = pd.read_sql(("select * from TPP.courses a "     
           "inner join TPP.course_users b on a.id = b.course_id " 
           "limit 10000000;"), con=connection)
courses.head()
courses = courses[courses["course_id"]>5]
courses["dummy"] = 1
courses = courses[courses["role_id"]==2]
courses["semester"] = courses["semester"].apply(lambda x : x.replace("1c2020","1C-2020").replace("2020-2C","2C-2020").replace("20201C","1C-2020").replace("20201C","1C-2020").replace("2021-1C","1C-2021").replace("2021-2C","2C-2021").replace("2C 2020","2C-2020").replace("2C2020","2C-2020").upper())

In [11]:
courses_grouped = courses.groupby(["user_id","course_id","semester","university_course_id"]).count()
courses_grouped = courses_grouped.groupby(["user_id","semester","university_course_id"]).count()["dummy"].rename("courses_per_semester")

In [12]:
courses_grouped = courses_grouped.reset_index()

In [49]:
users   = pd.read_sql(("select * from TPP.users "
           "limit 10000000;"), con=connection)
users.head()

   id                    degree university        date_created
0   1    Ingenieria Informatica      FIUBA 2020-07-28 04:31:22
1   2    Ingenieria Informatica      FIUBA 2020-07-29 00:20:10
2   3  Licenciatura en Sistemas      FIUBA 2020-07-29 00:43:52
3   4  Licenciatura en Sistemas      FIUBA 2020-07-30 23:43:21
4   5    Ingenieria Informatica      FIUBA 2020-07-30 23:53:21

In [50]:
merged_users = activities_grouped.reset_index().merge(users,how='left',right_on ='id',left_on='user_id')

In [51]:
merged_users

,level_0,course_id,user_id,index,activity_id,BUILD_ERROR,ENQUEUED,FAILURE,PENDING,PROCESSING,RUNTIME_ERROR,SUCCESS,TIME_OUT,dummy,id,degree,university,date_created
0,0,6,161,42,42,33,0,26,0,0,0,41,2,42,161,Ingenieria Informatica,FIUBA,2020-10-05 19:48:05
1,1,6,186,35,35,26,0,20,0,0,0,34,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30
2,2,6,293,32,32,13,0,7,0,0,0,24,2,32,293,Ingenieria Informatica,FIUBA,2020-10-11 20:35:00
3,3,6,294,2,2,2,0,2,0,0,0,0,0,2,294,Licenciatura en Sistemas,FIUBA,2020-10-11 20:36:25
4,4,6,295,39,39,27,0,19,0,0,0,39,2,39,295,Ingenieria Informatica,FIUBA,2020-10-11 20:41:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,924,33,1226,1,1,0,0,0,0,0,0,1,0,1,1226,Licenciatura en Sistemas,FIUBA,2021-05-13 19:50:34
925,925,33,1231,23,23,0,0,13,0,0,6,19,0,23,1231,Licenciatura en Sistemas,FIUBA,2021-05-14 00:20:47
926,926,33,1282,5,5,0,0,3,0,0,1,3,0,5,1282,Ingeniería en Informática,FIUBA,2021-06-09 19:47:56
927,927,33,1283,6,6,1,0,5,0,0,1,1,0,6,1283,Ingeniería en Informática,FIUBA,2021-06-10 14:11:19
928,928,35,1418,1,1,0,0,1,0,0,0,1,0,1,1418,Ingeniería en Informática,FIUBA,2021-09-09 02:24:28

In [52]:
merged_users = merged_users.merge(courses_grouped,how='left', left_on='id',right_on='user_id')

In [53]:
merged_users = merged_users.fillna(0)

In [54]:
merged_users

,level_0,course_id,user_id_x,index,activity_id,BUILD_ERROR,ENQUEUED,FAILURE,PENDING,PROCESSING,...,TIME_OUT,dummy,id,degree,university,date_created,user_id_y,semester,university_course_id,courses_per_semester
0,0,6,161,42,42,33,0,26,0,0,...,2,42,161,Ingenieria Informatica,FIUBA,2020-10-05 19:48:05,161,2C-2020,75.40,1
1,1,6,186,35,35,26,0,20,0,0,...,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30,186,1C-2021,75.40,1
2,1,6,186,35,35,26,0,20,0,0,...,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30,186,2C-2020,75.40,1
3,1,6,186,35,35,26,0,20,0,0,...,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30,186,2C-2021,75.40-95.40,1
4,1,6,186,35,35,26,0,20,0,0,...,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30,186,2C-2021,75.41,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,924,33,1226,1,1,0,0,0,0,0,...,0,1,1226,Licenciatura en Sistemas,FIUBA,2021-05-13 19:50:34,1226,2C-2021,75.41-95.41,1
1360,925,33,1231,23,23,0,0,13,0,0,...,0,23,1231,Licenciatura en Sistemas,FIUBA,2021-05-14 00:20:47,1231,1C-2021,75.40,1
1361,926,33,1282,5,5,0,0,3,0,0,...,0,5,1282,Ingeniería en Informática,FIUBA,2021-06-09 19:47:56,1282,1C-2021,75.40,1
1362,927,33,1283,6,6,1,0,5,0,0,...,0,6,1283,Ingeniería en Informática,FIUBA,2021-06-10 14:11:19,1283,1C-2021,75.40,1
1363,928,35,1418,1,1,0,0,1,0,0,...,0,1,1418,Ingeniería en Informática,FIUBA,2021-09-09 02:24:28,1418,2C-2021,75.40-95.40,1

In [55]:
admin_users = activities = pd.read_sql(("select * from tpp.course_users where user_id not in ("
                        "SELECT user_id FROM tpp.course_users where role_id = 2 ) "
                        "group by user_id limit 100000000000;"), con=connection)

In [56]:
merged_users[~merged_users["id"].isin(admin_users["user_id"])]["courses_per_semester"].value_counts()

1    1357
2       7
Name: courses_per_semester, dtype: int64

In [57]:
# materias inscripto en el semestre de cursada
# codigo de la materia
merged_users

,level_0,course_id,user_id_x,index,activity_id,BUILD_ERROR,ENQUEUED,FAILURE,PENDING,PROCESSING,...,TIME_OUT,dummy,id,degree,university,date_created,user_id_y,semester,university_course_id,courses_per_semester
0,0,6,161,42,42,33,0,26,0,0,...,2,42,161,Ingenieria Informatica,FIUBA,2020-10-05 19:48:05,161,2C-2020,75.40,1
1,1,6,186,35,35,26,0,20,0,0,...,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30,186,1C-2021,75.40,1
2,1,6,186,35,35,26,0,20,0,0,...,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30,186,2C-2020,75.40,1
3,1,6,186,35,35,26,0,20,0,0,...,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30,186,2C-2021,75.40-95.40,1
4,1,6,186,35,35,26,0,20,0,0,...,4,35,186,Ingenieria Informatica,FIUBA,2020-10-09 00:29:30,186,2C-2021,75.41,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,924,33,1226,1,1,0,0,0,0,0,...,0,1,1226,Licenciatura en Sistemas,FIUBA,2021-05-13 19:50:34,1226,2C-2021,75.41-95.41,1
1360,925,33,1231,23,23,0,0,13,0,0,...,0,23,1231,Licenciatura en Sistemas,FIUBA,2021-05-14 00:20:47,1231,1C-2021,75.40,1
1361,926,33,1282,5,5,0,0,3,0,0,...,0,5,1282,Ingeniería en Informática,FIUBA,2021-06-09 19:47:56,1282,1C-2021,75.40,1
1362,927,33,1283,6,6,1,0,5,0,0,...,0,6,1283,Ingeniería en Informática,FIUBA,2021-06-10 14:11:19,1283,1C-2021,75.40,1
1363,928,35,1418,1,1,0,0,1,0,0,...,0,1,1418,Ingeniería en Informática,FIUBA,2021-09-09 02:24:28,1418,2C-2021,75.40-95.40,1

In [58]:
merged_users.columns

Index(['level_0', 'course_id', 'user_id_x', 'index', 'activity_id',
       'BUILD_ERROR', 'ENQUEUED', 'FAILURE', 'PENDING', 'PROCESSING',
       'RUNTIME_ERROR', 'SUCCESS', 'TIME_OUT', 'dummy', 'id', 'degree',
       'university', 'date_created', 'user_id_y', 'semester',
       'university_course_id', 'courses_per_semester'],
      dtype='object')

In [59]:
merged_users = merged_users[['course_id', 'user_id_x', 'BUILD_ERROR', 'FAILURE', 'TIME_OUT',
       'RUNTIME_ERROR', 'SUCCESS', 'degree','courses_per_semester','university_course_id']]

In [60]:
merged_users

,course_id,user_id_x,BUILD_ERROR,FAILURE,TIME_OUT,RUNTIME_ERROR,SUCCESS,degree,courses_per_semester,university_course_id
0,6,161,33,26,2,0,41,Ingenieria Informatica,1,75.40
1,6,186,26,20,4,0,34,Ingenieria Informatica,1,75.40
2,6,186,26,20,4,0,34,Ingenieria Informatica,1,75.40
3,6,186,26,20,4,0,34,Ingenieria Informatica,1,75.40-95.40
4,6,186,26,20,4,0,34,Ingenieria Informatica,1,75.41
...,...,...,...,...,...,...,...,...,...,...
1359,33,1226,0,0,0,0,1,Licenciatura en Sistemas,1,75.41-95.41
1360,33,1231,0,13,0,6,19,Licenciatura en Sistemas,1,75.40
1361,33,1282,0,3,0,1,3,Ingeniería en Informática,1,75.40
1362,33,1283,1,5,0,1,1,Ingeniería en Informática,1,75.40
1363,35,1418,0,1,0,0,1,Ingeniería en Informática,1,75.40-95.40

In [63]:
import dtale
d = dtale.show(merged_users)
d.open_browser()

In [64]:
merged_users.to_csv("./students_dataset.csv")

Executing shutdown due to inactivity...
Executing shutdown due to inactivity...
Executing shutdown due to inactivity...

2022-05-02 22:56:20,931 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...
Executing shutdown...
Executing shutdown...

2022-05-02 22:56:37,274 - INFO     - Executing shutdown...